*{
    box-sizing: border-box;
}


body{
    margin: 0px;
    text-align: center;
    position: relative;
    display: block;
}

div{
    display: block;
}

.header{
  background-color: #006666;
  padding: 20px;
}


.logo{
    color: white;
    text-decoration: none;
}

.buttons a{
    text-decoration: none;
    color: black;
    background-color: lightgray;
    border-radius: 2px 2px 2px 2px;
    padding: 7px;
    padding-right: 15px;
    padding-left: 15px;
    size: 10px;
}

.buttons form{
    display: inline;
}

.maincontent{
    background-color: whitesmoke;
    padding: 20px;
}
.footer{
    background-color: #dcdcdc;
    padding: 20px;
    line-height: 5px;
}